@{
    ViewBag.Title = "Unplugged Development";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Unplugged/_IncludeScripts")

<script language="javascript" type="text/javascript">
    var yScale = 0.1;
    var inline = Unplugged.Slice.loadScene(3, 24, 0);
    var xIndex = 94;
    var zIndex = 172;
    var tileSize = 64;
    var xOffset = xIndex / tileSize;
    var zOffset = zIndex / tileSize;
    inline.position.x = 0.5 - xOffset;
    inline.position.z = -0.5 + zOffset;
    inline.scale.y = yScale;
    inline.updateMatrix();

    var crossline = Unplugged.Slice.loadScene(6, 24, 1);
    crossline.rotation.y = -0.5 * 3.141592654;
    crossline.scale.y = yScale;
    crossline.updateMatrix();

    var scene = Unplugged.createScene();
    scene.add(inline);
    scene.add(crossline);
    scene.position.z = -zOffset;
    scene.position.y = -1;
    scene.updateMatrix();
    var display = Unplugged.createDisplay(scene);

    var cam = display.camera;
    cam.position.z = 3;
    cam.up.y = -1;
    cam.updateMatrix();

    display.renderLoop();
</script>

