@{
    ViewBag.Title = "Unplugged Development";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Unplugged/_IncludeScripts")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" language="javascript" type="text/javascript"></script>

<script language="javascript" type="text/javascript">
    var projector = new THREE.Projector();
    function onDocumentMouseDown(event) {
        event.preventDefault();
        var vector = new THREE.Vector3((event.clientX / window.innerWidth) * 2 - 1, -(event.clientY / window.innerHeight) * 2 + 1, 0.5);
        projector.unprojectVector(vector, camera);
        var ray = new THREE.Ray(camera.position, vector.subSelf(camera.position).normalize());
        var intersects = ray.intersectObjects(scene.objects);
        if (intersects.length > 0) {
            var p = intersects[0].point;
            var s = p.x + ", " + p.y + ", " + p.z + "<br />";
            //document.write();
            $("#clicks").append(s);
        }
    }

    var hasEventListener = false;

    function addHitTest() {
        document.addEventListener('mousedown', onDocumentMouseDown, false);
        hasEventListener = true;
    }

    function removeHitTest() {
        document.removeEventListener('mousedown', onDocumentMouseDown, false);
        hasEventListener = false;
    }

    function myToggle() {
        display.toggleMode();
        if (hasEventListener) {
            removeHitTest();
        } else {
            addHitTest();
        }
    }

</script>

<a href="javascript:myToggle()">Toggle Mode</a>

<script language="javascript" type="text/javascript">
    var yScale = 0.1;
    var inline = Unplugged.Slice.loadScene(3, 24, 0);
    var xIndex = 94;
    var zIndex = 172;
    var tileSize = 64;
    var xOffset = xIndex / tileSize;
    var zOffset = zIndex / tileSize;
    inline.position.x = 0.5 - xOffset;
    inline.position.z = -0.5 + zOffset;
    inline.scale.y = yScale;
    inline.updateMatrix();

    var crossline = Unplugged.Slice.loadScene(6, 24, 1);
    crossline.rotation.y = -0.5 * 3.141592654;
    crossline.scale.y = yScale;
    crossline.updateMatrix();

    var scene = Unplugged.createScene();
    scene.add(inline);
    scene.add(crossline);
    scene.position.z = -zOffset;
    scene.position.y = -1;
    scene.updateMatrix();
    var display = Unplugged.createDisplay(scene);

    var camera = display.camera;
    camera.position.z = 3;
    camera.up.y = -1;
    camera.updateMatrix();

    display.renderLoop();
</script>

<div id="clicks"></div>
